<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="name">Course Name</label>
      <input
        required
        minlength="3"
        maxlength="50"
        ngModel
        #name = "ngModel"
        name="name"
        id="name"
        type="text" 
        class="form-control">
        <div
          class="alert alert-danger"
          *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name should be minimum {{ name.errors.minlength.requiredLength }} characters.
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select required ngModel #category="ngModel" name="category" id="category" class="form-control">
          <option value=""></option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
      <div
      class="alert alert-danger"
      *ngIf="category.touched && category.invalid">
      <div *ngIf="category.errors.required">
        Category is required.
      </div>
    </div>
</div>
    <div class="checkbox">
        <label for="moneyBack"></label>
        <input
          ngModel
          id="moneyBack"
          name="moneyBack"
          type="checkbox">30-day money-back guarantee
      </div>
    <p>{{ f.value | json }}</p>
    <button class="btn btn-primary" [disabled]="f.invalid">Create</button>
</form>
  