<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
      <div *ngIf="contact.dirty && !contact.valid">
        Errors here...
      </div>
      <!-- div.form-group>label[for='firstName']+input[id='firstName'].form-control-->
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            required
            minlength="3"
            maxlength="10"
            pattern="banana"
            ngModel
            name="firstName"
            #firstName="ngModel"
            (change)="log(firstName)"
            id="firstName"
            type="text"
            class="form-control">
          <div
            class="alert alert-danger"
            *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">
              First Name is required.
            </div>
            <div *ngIf="firstName.errors.minlength">
              First Name should be minimum {{ firstName.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="firstName.errors.pattern">
              First Name doesn't match the pattern {{ firstName.errors.pattern.requiredPattern }}.
            </div>
          </div>
        </div>
  </div>
    <!-- div.form-group>label[for='comment']+textarea[id='comment'].form-control-->
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea
        ngModel
        name="comment"
        #comment="ngModel"
        id="comment"
        cols="30"
        rows="10"
        class="form-control">
      </textarea>
    </div>
    <div class="checkbox">
      <label for=""></label>
      <input
        ngModel
        name="isSubscribed"
        type="checkbox">Subscribe to mailing list
    </div>
    <!--
    div.form-group>label[for='contactMethod']+select[id='contactMethod'].form-control
    -->
    <div class="form-group">
      <label for="contactMethod">Contact Method</label>
      <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
        <option value=""></option>
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
        <!--
          [ngValue]="method" for complex object
        -->
      </select>
    </div>
    <!--
    div.radio>label>input[type='radio'][name='contactMethod']
    -->
    <div *ngFor="let method of contactMethods" type="radio">
      <label>
        <input
          ngModel
          type="radio"
          name="contactMethod"
          [value]="method.id">
        {{ method.name }}
      </label>
    </div>
      <p>{{ f.value | json }}</p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>