<span>{{ task.assignee.name }}</span>
<!--
<span>{{ unassignedTask.assignee.name }}</span>
-->
<span *ngIf="unassignedTask.assignee">{{ unassignedTask.assignee.name }}</span>
<span>{{ unassignedTask.assignee?.name }}</span>