<div class="zippy">
  <div class="zippy-heading"
    [class.expanded]="isExpanded"
    (click)="toggle()">
    {{ title }}
    <span class="fa fas" [ngClass]="{'fa-chevron-up': isExpanded, 'fa-chevron-down': !isExpanded }"></span>
  </div>
  <div class="zippy-body" *ngIf="isExpanded"> 
    <ng-content></ng-content>
  </div>
</div>