<h2>{{ getTitle() }}</h2>
<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>
<div (click)="onDivClicked()">
  <button class="btn btn-primary" [class.active]="isActive" [style.backgroundColor]="isActive ? 'red' : 'white'" (click)="onSave($event)">Cancel</button>
</div>
<div>
  <label>Name:</label><input #name (keyup.enter)="onNameEnter(name.value)"/>
  <label>Surname:</label><input [value]="surname" (keyup.enter)="surname = $event.target.value; onSurnameEnter(surname)"/>
  <label>Email:</label><input [(ngModel)]="email" (keyup.enter)="onEmailEnter(email)"/>
</div>
<div>
  <h2>Course</h2>
  {{ course.title | uppercase | lowercase }}<br>
  {{ course.students | number }}<br>
  {{ course.rating | number:'1.2-2' }}<br>
  {{ course.price | currency:'USD':'symbol':'1.2-2'}}<br>
  {{ course.releaseDate | date:'shortDate'}}<br>
  {{ course.text | summary:10 }}
</div>