<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Angular</h1>
    <app-course></app-course>
    <hr>
    <app-author></app-author>
    <hr>
    <app-favourite [favourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></app-favourite>
    <hr>
    <app-titlecase></app-titlecase>
    <hr>
    <app-panel>
      <ng-container class="heading"><h2>Heading</h2></ng-container>
      <div class="body">
        <h2>Body</h2>
        <p>Some content here</p>
      </div>
    </app-panel>
    <hr>
    <app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked" (change)="onLikeClicked($event)"></app-like>
    <hr>
    <app-ngif></app-ngif>
    <hr>
    <app-ngswitch></app-ngswitch>
    <hr>
    <app-ngfor></app-ngfor>
    <app-ngstyle></app-ngstyle>
    <app-traversal></app-traversal>
    <hr>
    <label>Input format directive:</label><input type="text" [appInputFormat]="'uppercase'">
    <hr>
    <app-zippy title="Shipping Details">
        Shipping Details Content
    </app-zippy>
    <app-zippy title="Billing Details">
      Billing Details Content
    </app-zippy></div>
    <hr>
    <app-contact-form></app-contact-form>
    <hr>
    <app-course-form></app-course-form>
    <hr>
    <signup-form></signup-form>
    <hr>
    <new-course-form></new-course-form>
    <hr>
    <app-posts></app-posts>
    <hr>
    <app-followers></app-followers>
    <hr>