<h2>Don's followers</h2>
<div *ngFor="let follower of followers" class="media">
  <div class="media-left">
    <a [href]="follower.html_url">
      <img class="media-object avatar" [src]="follower.avatar_url">
    </a>
  </div>
  <div class="media-body>">
    <h4 class="media-heading">{{ follower.login}}</h4>
    <a [href]="follower.html_url">{{ follower.html_url }}</a>
  </div>
</div>
