<div *ngIf="courses.length > 0">
    List of courses
</div>
<div *ngIf="courses.length == 0">
    No courses yet
</div>

<div [hidden]="courses.length == 0">
    List of courses (hidden)
</div>
 <div [hidden]="courses.length > 0">
    No courses yet (hidden)
</div>

<div *ngIf="courses.length > 0; then coursesList else noCourses">
        List of courses
</div>
<ng-template #coursesList>
    List of courses (template)
</ng-template>
<ng-template #noCourses>
    No courses yet (template)
</ng-template>