<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; even as isEven; index as i; trackBy: trackCourse">
    <span *ngIf="isEven">X</span><span *ngIf="!isEven">&nbsp;</span> index:{{ i }}; id:{{ course.id }}; name:{{ course.name }}
    <button (click)="onDelete(course)">Delete</button>
    <button (click)="onChange(course)">Update</button>
  </li>
</ul>>