<style>
  .fa {
    color: aqua;
  }
</style>
<p>
  <i class="fa" [class.fa-star]="favourite" [class.fa-star-o]="!favourite" (click)="toggle()"></i>
</p>
<p>
  <i class="fa" [ngClass]="{'fa-star': favourite, 'fa-star-o': !favourite}" (click)="toggle()"></i>
</p>
  